.loading-indicator {
    display: block;
    width: 70px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
    z-index: 100;
    background-color: #FFF;
}

.loading-indicator img {
    width: 70px;
    background-color: #FFF;
}

.ui-view-placeholder {
    margin-top: 60px;
}


input {
    font-size: 24px;
    margin-bottom: 10px;
    color : black;
}

button {
    font-size: 24px;
    color: black;
    background-color: gold;
}

button[disabled] {
    font-size: 24px;
    color: black;
    background-color: red;
}


.ng-touched.ng-valid {
    border: 3px lawngreen solid;
}

.ng-touched.ng-invalid {
    border: 3px red solid;
}

#info {
    margin-top: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgray;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgray;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: lightgray;
}

fieldset {
    margin:auto;
    width: 50%;
}

.error {
    color: red;
}

.success {
    color: lawngreen;
}

.center {
    margin: auto;
    text-align: center;
    width: 50%;
    border: 1px solid black;
    padding: 10px;
}