.footnote {
    color: dimgray;
    font-size: 11px;   
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.green {
    color: green;
}

.red {
    color: red;
}

.border-green {
    border-color: green;
    border-width: 2px;
}

.border-red {
    border-color: red;
    border-width: 2px;
}