<fieldset ng-controller="SignUpController as ctrl">
    <h2>News Letter Signup</h2>
    <form name='signUpForm' novalidate>
    
        <input type="text" 
               name="fname" 
               ng-model="ctrl.firstname"
               ng-change="ctrl.resetItemValidity()"
               required 
               placeholder="First Name">
        <span class="error"
              ng-if="signUpForm.fname.$error.required && signUpForm.fname.$touched">
                First Name is required</span>
        <br>


        <input type="text" 
               name="lname" 
               ng-model="ctrl.lastname"
               ng-change="ctrl.resetItemValidity()"
               required 
               placeholder="Last Name">
        <span class="error"
              ng-if="signUpForm.lname.$error.required && signUpForm.lname.$touched">
                Last Name is required</span>
        <br>


        <input type="email" 
               name="emailAddr" 
               ng-model="ctrl.emailAddr"
               ng-change="ctrl.resetItemValidity()"
               required ng-min-length="4" 
               placeholder="Email">
        <span class="error"
              ng-if="signUpForm.emailAddr.$invalid && signUpForm.emailAddr.$touched">
                Must be a valid email address:  handle@domain format</span>
        <br>


        <input type="text" 
               name="phoneNumber" 
               ng-model="ctrl.phoneNumber"
               ng-change="ctrl.resetItemValidity()"
               required ng-min-length="7" 
               placeholder="Phone ###-###-####"
               pattern="(\d{3})-(\d{3})-(\d{4})">
        <span class="error"
              ng-if="signUpForm.phoneNumber.$invalid && signUpForm.phoneNumber.$touched">
                Phone number must be in the format ###-###-####</span>
        <br>
        
        <input type="text" 
               name="favoriteMenuItem" 
               ng-model="ctrl.favoriteMenuItem"
               minlength="2"
               maxlength="4"
               ng-trim="true"
               ng-change="ctrl.resetItemValidity()"
               required
               disallow-spaces
               placeholder="Favorite Dish #"
               style="text-transform:uppercase" >
        <span  class="error"
               ng-if="signUpForm.favoriteMenuItem.$invalid && signUpForm.favoriteMenuItem.$touched">
               Must be at least 2-4 characters</span>
        <span  class="error"
               ng-if="ctrl.itemIsInvalid">
               Item not found</span>
        <br>


        <button ng-click="ctrl.signUp()" 
                ng-disabled="signUpForm.$invalid">Sign Up</button><br>

        <span ng-if="ctrl.submissionState == 1">Submitting...</span>
        <span class="success" ng-if="ctrl.submissionState == 2">Your information has been saved</span>
        <span class="error" ng-if="ctrl.submissionState == 3">Error submitting</span>
        
        
    </form>
</fieldset>